@inject IAuthorizationService authz

<SfCard role="region">
    <CardHeader>
        <h3>
            User: @user.Identity?.Name
        </h3>
    </CardHeader>
    <CardContent EnableSeparator="true">
        <div style="padding-bottom:14px;">Auth Type: @user.Identity?.AuthenticationType</div>
        <h3>Is Vendor: @isVendor</h3>
        <h3>Is Admin: @isAdmin</h3>
    </CardContent>
    @if (user?.Claims?.Any() == true)
    {
        <CardContent EnableSeparator="true">
            <div>All Claims:</div>
            <ul>
                @foreach (var claim in user.Claims.OrderBy(c => c.Type))
                {
                    <li><strong>@claim.Type</strong>: @claim.Value</li>
                }
            </ul>
        </CardContent>
    }
</SfCard>
@code {
    [CascadingParameter] private Task<AuthenticationState> authStateTask { get; set; } = default!;
    
    [Parameter]
    public int RefreshVersion { get; set; }

    private ClaimsPrincipal user { get; set; } = default!;
    private bool isVendor;
    private bool isAdmin;

    protected override async Task OnParametersSetAsync()
    {
        var authState = await authStateTask;
        user = authState.User;

        var result = await authz.AuthorizeAsync(user, "Vendor");
        isVendor = result.Succeeded;

        result = await authz.AuthorizeAsync(user, "Admin");
        isAdmin = result.Succeeded;
    }
}