@inject IUserRepo userService
<SfGrid TValue="AppRole" DataSource="@(User.Roles ?? [])" Toolbar="@(new List<string> { "Add", "Delete", "Update", "Cancel" })">
    <GridEditSettings AllowAdding="true"
                      AllowDeleting="true"
                      AllowEditing="true"
                      Mode="EditMode.Normal">
    </GridEditSettings>
    <GridEvents TValue="AppRole" OnActionBegin="OnRoleActionBegin"></GridEvents>
    <GridColumns>
        <GridColumn Field="@nameof(AppRole.Id)" IsPrimaryKey="true" Visible="false"></GridColumn>
        <GridColumn Field="@nameof(AppRole.Name)" HeaderText="Role">
            <EditTemplate Context="roleContext">
                <div style="width: fit-content;">
                    <SfDropDownList TValue="int?"
                                    TItem="AppRole"
                                    DataSource="@AvailableRoles"
                                    Placeholder="Select role"
                                    Value="@GetRoleId(roleContext)">
                        <DropDownListFieldSettings Value="@nameof(AppRole.Id)" Text="@nameof(AppRole.Name)" />
                        <DropDownListEvents TValue="int?" TItem="AppRole" ValueChange="@(args => OnRoleChanged(args, roleContext))" />
                    </SfDropDownList>
                </div>
            </EditTemplate>
        </GridColumn>
    </GridColumns>
</SfGrid>
@code {
    [Parameter, EditorRequired]
    public AppUser User { get; set; } = default!;

    [Parameter, EditorRequired]
    public IReadOnlyList<AppRole> AvailableRoles { get; set; } = [];

    [Parameter]
    public EventCallback OnRolesChanged { get; set; }

    private async Task OnRoleActionBegin(ActionEventArgs<AppRole> args)
    {
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save && args.Data is not null)
        {
            await userService.AddRoleToUserAsync(User.Id, args.Data.Name!, CancellationToken.None);
            await OnRolesChanged.InvokeAsync();
        }

        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Delete && args.Data is not null)
        {
            await userService.RemoveRoleFromUserAsync(User.Id, args.Data.Id, CancellationToken.None);
            await OnRolesChanged.InvokeAsync();
        }
    }

    private int? GetRoleId(object roleContext)
    {
        var role = (AppRole)roleContext;
        return role.Id == 0 ? null : role.Id;
    }

    private void OnRoleChanged(ChangeEventArgs<int?, AppRole> args, object roleContext)
    {
        var role = (AppRole)roleContext;

        var selectedRole = AvailableRoles.FirstOrDefault(x => x.Id == args.Value);
        if (selectedRole is null)
            return;

        role.Id = selectedRole.Id;
        role.Name = selectedRole.Name;
        role.NormalizedName = selectedRole.NormalizedName;
        role.ConcurrencyStamp = selectedRole.ConcurrencyStamp;
    }
}