@inject IUserRepo userRepo
@inject SfDialogService dialogService
@inject ToastService toastService

<SfCard role="region">
    <CardHeader>
        <h3>User list</h3>
    </CardHeader>
    <CardContent>
        <SfGrid TValue="AppUser"
                DataSource="@appUsers"
                Toolbar="@(new List<string> { "Edit", "Update", "Cancel", "Search" })"
                AllowPaging="true"
                AllowReordering="true"
                AllowSorting="true"
                ShowColumnMenu="true">
            <GridEditSettings AllowEditing="true" Mode="EditMode.Normal"></GridEditSettings>
            <GridPageSettings PageSize="GridConstants.RowCount" PageSizes="GridConstants.PageSizes"></GridPageSettings>
            <GridSearchSettings Fields="@(new[] { nameof(AppUser.UserName), nameof(AppUser.Email), nameof(AppUser.ProviderDisplayName) })"
                                Operator="Syncfusion.Blazor.Operator.Contains"
                                IgnoreCase="true"
                                IgnoreAccent="true">
            </GridSearchSettings>
            <GridColumns>
                <GridColumn Field="@nameof(AppUser.UserName)" HeaderText="User name" IsPrimaryKey="true" AllowEditing="false"></GridColumn>
                <GridColumn Field="@nameof(AppUser.ProviderDisplayName)" HeaderText="Provider" AllowEditing="false"></GridColumn>
                <GridColumn Field="@nameof(AppUser.Email)" HeaderText="Email" ValidationRules="@(new ValidationRules { Email = true })"></GridColumn>
                <GridColumn Field="@nameof(AppUser.PhoneNumber)" HeaderText="Phone number" ValidationRules="@(new ValidationRules { RegexPattern = @"^\+?[0-9\-\(\)\s]{7,20}$" })"></GridColumn>
                <GridColumn Field="@nameof(AppUser.RoleNames)" HeaderText="Roles">
                    <Template>
                        @{
                            var user = (AppUser)context;
                            <span>@string.Join(", ", user.RoleNames)</span>
                        }
                    </Template>
                    <EditTemplate>
                        @{
                            var user = (AppUser)context;
                            <SfMultiSelect TItem="AppRole" TValue="AppRole[]" DataSource="@availableRoles" @bind-Value="user.Roles"
                                           Placeholder="Select roles" Mode="VisualMode.Box" ShowDropDownIcon="true"
                                           AllowFiltering="true" ShowClearButton="true">
                                <MultiSelectFieldSettings Text="Name" Value="Id" />
                            </SfMultiSelect>
                        }
                    </EditTemplate>
                </GridColumn>
            </GridColumns>
            <GridEvents TValue="AppUser" OnActionBegin="OnActionBegin"></GridEvents>
        </SfGrid>
    </CardContent>
</SfCard>
@code {
    [Parameter]
    public EventCallback<AppUser> RefreshRequested { get; set; }

    private IReadOnlyList<AppUser> appUsers { get; set; } = [];
    private IReadOnlyList<AppRole> availableRoles { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        appUsers = await userRepo.GetUsersAsync();
        availableRoles = await userRepo.GetRolesAsync();
    }

    private async Task OnActionBegin(ActionEventArgs<AppUser> args)
    {
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save && args.Data is not null)
        {
            AppUser user = args.Data;

            if (args.Data?.Roles?.FirstOrDefault(x => x.Name == "vendor") is not null && args.Data.VendorId is null)
            {
                VendorModel? selectedVendor = null;

                bool isConfirm = await dialogService.ConfirmAsync(null, "Select a vendor", new DialogOptions
                {
                    CssClass = "popup-dialog",
                    PrimaryButtonOptions = new DialogButtonOptions
                    {
                        Content = "Select a vendor", IconCss = "e-icons e-check-large"
                    },
                    CancelButtonOptions = new DialogButtonOptions
                    {
                        Content = "Cancel", IconCss = "e-icons e-close"
                    },
                    AnimationSettings = new DialogAnimationOptions
                    {
                        Effect = DialogEffect.Zoom
                    },
                    ChildContent = builder =>
                    {
                        builder.OpenComponent<Shared.Components.Vendor.VendorList>(0);
                        builder.AddAttribute(1, "OnVendorSelected", EventCallback.Factory.Create<VendorModel>(this, async vendor =>
                        {
                            selectedVendor = vendor;
                        }));
                        builder.CloseComponent();
                    }
                });
                if (isConfirm)
                {
                    if (selectedVendor is null)
                    {
                        toastService.ShowWarning("No vendor selected.");
                        args.Cancel = true;
                    }
                    else
                    {
                        user.VendorId = selectedVendor?.Id;
                        await RefreshRequested.InvokeAsync(user);
                    }
                }
                else args.Cancel = true;
            }
            else
            {
                user.VendorId = null;
                await RefreshRequested.InvokeAsync(user);
            }
        }
    }
}