@page "/requests"
@rendermode InteractiveAuto
@attribute [AllowAnonymous]

@inject ToastService toastService
@inject IDamageRepo damageRepo
@inject IAuthorizationService authz
@inject SfDialogService dialogService

<PageTitle>Track Property Repair Status | Property Claims</PageTitle>

<HeadContent>
    <meta name="description" content="Track your property damage claim online, review repair progress, and stay updated throughout the insurance claim process with Property Claims." />

    <link rel="canonical" href="https://www.propertyclaims.com/requests" />

    <meta property="og:title" content="Track Property Damage Claim Status | Repair Progress & Claim Updates | Property Claims" />
    <meta property="og:description" content="Track your property damage claim online, review repair progress, and stay updated throughout the insurance claim process with Property Claims." />
    <meta property="og:url" content="https://www.propertyclaims.com/requests" />
</HeadContent>

<section>
    <SfSpinner Size="48" Type="SpinnerType.Material" @bind-Visible="@isLoading"></SfSpinner>
    <SfAppBar role="region">
        <h1>Repair Progress</h1>
    </SfAppBar>
    <SfAppBar role="region">
        <h2>
            Review repair progress to proceed to next steps
        </h2>
        <SfButton type="button" CssClass="e-round e-outline" IsPrimary="true" OnClick="toggleBar" IconCss="e-icons e-drag-and-drop-indicator"></SfButton>
    </SfAppBar>
    <div id="main-container">
        <div id="data-container" class="zoom-in">
            @if (damageList?.Any() == true)
            {
                @foreach (var item in damageList)
                {
                    @if (isVendor)
                    {
                        <DamageInfo DamageContext="@item" OnToggleBladeEvent="ToggleBlade" IsBladeOpen="isSideBarOpen" />
                    }
                    else
                    {
                        <Tracking DamageContext="@item" OnToggleBladeEvent="ToggleBlade" IsBladeOpen="isSideBarOpen" />
                    }
                }
            }
        </div>
    </div>
    <SfSidebar ID="side-bar-blade" @bind-IsOpen="isSideBarOpen" Type="(IsDesktopView ? SidebarType.Push : SidebarType.Over)" Target="#main-container" Position="SidebarPosition.Right">
        <ChildContent>
            @if (damageContext is not null)
            {
                <SfCard role="region">
                    @foreach (var item in damageContext.Sections)
                        if (!string.IsNullOrWhiteSpace(item.Entry))
                        {
                            <CardContent EnableSeparator="true">
                                <strong>@item.DamageSectionType?.Name</strong>
                                <div>@item.Entry</div>
                            </CardContent>
                        }
                </SfCard>
                <div class="spread-across">
                    <SfButton type="button" Content="Damage Details"
                              IconCss="e-icons e-smart-paste" IconPosition="IconPosition.Right" IsPrimary="true"
                              CssClass="e-outline"
                              OnClick="OnEdit">
                    </SfButton>
                    <SfButton type="button" Content="View Images"
                              IconCss="e-icons e-smart-paste" IconPosition="IconPosition.Left" IsPrimary="true"
                              OnClick="OnShowImages">
                    </SfButton>
                </div>
                @if (!isVendor)
                {
                    <FileUpload damageId="damageContext.Id"></FileUpload>
                }
            }
        </ChildContent>
    </SfSidebar>
</section>
<style>
    #side-bar-blade {
        border: solid 1px grey;
        border-radius: 8px;
        max-width: 25vw;
        padding: 6px 10px 6px 10px;
    }

    #main-container {
        padding-right: 2px;
        padding-left: 2px;
    }

        #main-container #data-container {
            min-height: 70vh;
        }

            #main-container #data-container .e-card {
                margin-bottom: 6px;
            }

</style>

@code {
    [CascadingParameter] private Task<AuthenticationState> authStateTask { get; set; } = default!;
    [CascadingParameter(Name = CascadingParams.MediaQuery)] private bool IsDesktopView { get; set; }

    private bool isSideBarOpen { get; set; } = false;
    private void toggleBar() => isSideBarOpen = !isSideBarOpen;

    IReadOnlyList<DamageEntry> damageList { get; set; } = default!;
    DamageEntry damageContext { get; set; } = default!;

    private bool isLoading { get; set; } = true;
    private bool isVendor { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        try
        {
            var authState = await authStateTask;
            var result = await authz.AuthorizeAsync(authState.User, "Vendor");
            isVendor = result.Succeeded;

            int? vendorId = null;
            if (isVendor)
            {
                var value = authState.User.FindFirst("vendor_id")?.Value;
                if (int.TryParse(value, out var parsedId)) vendorId = parsedId;
            }
            damageList = await damageRepo.ListDamageEntriesAsync(vendorId, CancellationToken.None);
        } catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        } finally
        {
            isLoading = false;
        }
    }

    private async Task ToggleBlade(DamageEntry damage)
    {
        damageContext = damage;
        toggleBar();
    }

    private async Task OnEdit()
    {
        if (isVendor)
        {
            await dialogService.AlertAsync(null, damageContext.DateOfLoss.ToString("D"), new DialogOptions
            {
                ShowCloseIcon = true,
                PrimaryButtonOptions = new DialogButtonOptions
                {
                    Content = "Close"
                },
                AnimationSettings = new DialogAnimationOptions
                {
                    Effect = DialogEffect.FlipXUp
                },
                ChildContent = builder =>
                {
                    builder.OpenComponent<DamageForm>(0);
                    builder.AddAttribute(1, "damageContext", damageContext);
                    builder.AddAttribute(2, "isReadOnly", true);
                    builder.CloseComponent();
                }
            });
        }
        else
        {
            bool isConfirm = await dialogService.ConfirmAsync(null, damageContext.DateOfLoss.ToString("D"), new DialogOptions
            {
                CssClass = "popup-dialog",
                CancelButtonOptions = new DialogButtonOptions
                {
                    Content = "Cancel",
                    IconCss = "e-icons e-close"
                },
                PrimaryButtonOptions = new DialogButtonOptions
                {
                    Content = "Submit changes",
                    IconCss = "e-icons e-check-large"
                },
                AnimationSettings = new DialogAnimationOptions
                {
                    Effect = DialogEffect.SlideTop
                },
                ChildContent = builder =>
                {
                    builder.OpenComponent<DamageForm>(0);
                    builder.AddAttribute(1, "damageContext", damageContext);
                    builder.AddAttribute(2, "isReadOnly", false);
                    builder.CloseComponent();
                }
            });
            if (isConfirm)
            {
                await damageRepo.UpdateEntryAsync(damageContext, CancellationToken.None);
                StateHasChanged();
            }
        }
    }

    private async Task OnShowImages()
    {
        await dialogService.AlertAsync(null, damageContext.DateOfLoss.ToString("D"), new DialogOptions
        {
            Width = "90vw",
            Height = "90vh",
            ShowCloseIcon = true,
            PrimaryButtonOptions = new DialogButtonOptions
            {
                Content = "Close"
            },
            ChildContent = builder =>
            {
                builder.OpenComponent<PictureList>(0);
                builder.AddAttribute(1, "DamageId", damageContext.Id);
                builder.CloseComponent();
            }
        });
    }
}