@page "/settings"
@attribute [AllowAnonymous]

@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime
@inject NavigationManager nav
@inject HttpClient _httpClient
@inject IUserRepo userService

<PageTitle>Settings</PageTitle>

<section>
    <SfCard role="region">
        <CardHeader>Settings</CardHeader>
        <CardContent EnableSeparator="true">
            <div class="settings-row">
                <label for="isdark-check">Switch to dark mode:</label>
                <SfSwitch id="isdark-check" TChecked="bool" Checked="@Theme.IsDarkMode" ValueChange="OnDarkModeChange" />
            </div>
        </CardContent>
        <CardContent EnableSeparator="true">
            <div style="width: fit-content;">
                <label for="culture-select">Language and Region:</label>
                <SfDropDownList id="culture-select" TValue="string" TItem="CultureOption" DataSource="@SupportedCultures" Value="@SelectedCulture">
                    <DropDownListFieldSettings Text="Country" Value="Culture" />
                    <DropDownListEvents TValue="string" TItem="CultureOption" ValueChange="OnCultureChanged" />
                </SfDropDownList>
            </div>
        </CardContent>
        <AuthorizeView>
            <Authorized Context="auth">
                <CardContent EnableSeparator="true">
                    <h3>Application user list</h3>
                    <SfGrid TValue="AppUser" Height="512px"
                            Toolbar="@(new List<string>() { "Search" })"
                            AllowPaging="true" AllowReordering="true" AllowSorting="true" AllowFiltering="true" ShowColumnMenu="true"
                            DataSource="@appUsers">
                        <GridPageSettings PageSize="GridConstants.RowCount"></GridPageSettings>
                        @*                         <GridTemplates>
                            <EmptyRecordTemplate>
                                <div>@Reparo.Shared.Components.Resource.SharedResource.NoResult</div>
                            </EmptyRecordTemplate>
                        </GridTemplates> *@
                        <GridSearchSettings Fields="@(new string[] { "ClaimId" })" Operator=Syncfusion.Blazor.Operator.StartsWith IgnoreCase="true" IgnoreAccent="true"></GridSearchSettings>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox" Mode="FilterBarMode.Immediate"></GridFilterSettings>
                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple" CheckboxOnly="true" PersistSelection="true"></GridSelectionSettings>
                        <GridColumns>
                            <GridColumn Type="ColumnType.CheckBox" AllowFiltering="false" AllowSorting="false" Width="50"></GridColumn>
                            <GridColumn Field=@nameof(AppUser.Id) HeaderText="ID" Type="ColumnType.Integer"></GridColumn>
                            <GridColumn Field=@nameof(AppUser.UserName) HeaderText="User name"></GridColumn>
                            <GridColumn Field=@nameof(AppUser.Email) HeaderText="Email"></GridColumn>
                            <GridColumn Field=@nameof(AppUser.PhoneNumber) HeaderText="Phone number"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </CardContent>
            </Authorized>
        </AuthorizeView>
    </SfCard>
</section>
<style>
    .settings-row {
        display: flex;
        align-items: center;
        gap: 30px;
    }
</style>

@code {
    private sealed record ThemeSettings(string ThemeName, bool IsDarkMode, string Culture);

    private IReadOnlyList<AppUser> appUsers { get; set; } = default!;
 
    private string SelectedCulture = CultureInfo.CurrentCulture.Name;
    private ThemeSettings Theme = new("custom1", false, "ru-RU");

    private CultureOption[] SupportedCultures = new CultureData().Options;

    protected override async Task OnInitializedAsync()
    {
        if (!SupportedCultures.Any(c => c.Culture.Equals(SelectedCulture, StringComparison.OrdinalIgnoreCase))) SelectedCulture = SupportedCultures.First().Culture;
        Theme = Theme with { Culture = SelectedCulture };

        appUsers = await userService.GetUsersAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var stored = await JSRuntime.InvokeAsync<ThemeSettings?>("getTheme");
        if (stored is null) return;
        Theme = stored with { Culture = SelectedCulture };
        StateHasChanged();
    }

    private async Task OnDarkModeChange(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        Theme = Theme with
        {
            IsDarkMode = args.Checked
        };

        await JSRuntime.InvokeVoidAsync("setTheme", Theme);
        await _httpClient.PostAsJsonAsync(nav.ToAbsoluteUri("config/theme"), new ThemeSettings(
                Theme.ThemeName,
                Theme.IsDarkMode,
                Theme.Culture));
    }

    private async Task OnCultureChanged(ChangeEventArgs<string, CultureOption> args)
    {
        var culture = args?.Value;

        if (string.IsNullOrWhiteSpace(culture) || culture.Equals(SelectedCulture, StringComparison.OrdinalIgnoreCase))
            return;

        SelectedCulture = culture;

        Theme = Theme with
        {
            Culture = culture
        };

        await JSRuntime.InvokeVoidAsync("setCulture", culture);
        await JSRuntime.InvokeVoidAsync("setTheme", Theme);

        nav.NavigateTo(nav.Uri, forceLoad: true);
    }
}