@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService authz

<div>User: @User.Identity?.Name</div>
<div style="padding-bottom:24px;">Auth Type: @User.Identity?.AuthenticationType</div>
<h3>Is Vendor: @isVendor</h3>
@if (User?.Claims?.Any() == true)
{
    <div>All Claims:</div>
    <ul>
        @foreach (var claim in User.Claims.OrderBy(c => c.Type))
        {
            <li><strong>@claim.Type</strong>: @claim.Value</li>
        }
    </ul>
}

@code {
    [Parameter]
    public ClaimsPrincipal User { get; set; } = default!;

    private bool isVendor;

    protected override async Task OnParametersSetAsync()
    {
        if (User is not null)
        {
            var result = await authz.AuthorizeAsync(User, "Vendor");
            isVendor = result.Succeeded;
        }
        else
        {
            isVendor = false;
        }
    }
}