@rendermode InteractiveAuto
@if (DamageContext != null)
{
    <div id="damage-summary">
        <div>
            Damage reported at @DamageContext.Street @DamageContext.City @DamageContext.State @DamageContext.Zip on
            @($"{DamageContext.DateOfLoss:f}")
        </div>
        @{
            foreach (var item in DamageContext.Sections)
                if (!string.IsNullOrWhiteSpace(item.Entry))
                {
                    <div>
                        <strong>Requested @item.DamageSectionType?.Name</strong>
                        <div>@item.Entry</div>
                    </div>
                }
        }
    </div>
}
<style>
    #damage-summary {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
</style>

@code {
    [Parameter] public DamageEntry DamageContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnParametersSetAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
    }
}