<div id="damage-info">
    <SfCard role="article" CssClass="@(DamageContext.IsProcessed ? "zoom-in" : "is-hidden")">
        <CardContent>
            <SfTextBox @bind-Value="DamageContext.Street" Width="100%" CssClass="e-small" FloatLabelType="FloatLabelType.Always"
                       Placeholder="Street" HtmlAttributes="@(new Dictionary<string, object>{{ "aria-label", "Street address" },{ "autocomplete" , "address-line1" }})" />
            <ValidationMessage For="@(() => DamageContext.Street)" />
            <div style="display:flex;column-gap:2px;">
                <SfTextBox @bind-Value="DamageContext.City" Width="auto" CssClass="e-small" Placeholder="City" FloatLabelType="FloatLabelType.Auto"
                           HtmlAttributes="@(new Dictionary<string, object>{{ "aria-label", "City" },{ "autocomplete", "address-level2" }})" />
                <ValidationMessage For="@(() => DamageContext.City)" />
                <SfDropDownList TValue="string" Width="auto" CssClass="e-small" TItem="string" Placeholder="State" DataSource="States"
                                @bind-Value="DamageContext.State" FloatLabelType="FloatLabelType.Auto"
                                HtmlAttributes="@(new Dictionary<string, object>{{ "aria-label", "State" },{ "autocomplete", "address-level1" }})" />
                <ValidationMessage For="@(() => DamageContext.State)" />
            </div>
            <SfTextBox @bind-Value="DamageContext.Zip" Width="auto" Placeholder="Zip code" CssClass="e-small" FloatLabelType="FloatLabelType.Always"
                       HtmlAttributes="@(new Dictionary<string, object>{{ "aria-label", "ZIP code" },{ "autocomplete", "postal-code" },{ "inputmode", "numeric" },{ "pattern", "[0-9]*" }})" />
            <ValidationMessage For="@(() => DamageContext.Zip)" />
        </CardContent>
    </SfCard>
    <SfCard role="article" CssClass="@(DamageContext.IsProcessed ? "zoom-in" : "is-hidden")">
        <CardContent>
            <SfTextBox Width="100%" @bind-Value="DamageContext.InsuranceCarrier" CssClass="e-small" Placeholder="Insurance Carrier" FloatLabelType="FloatLabelType.Always" />
            <ValidationMessage For="@(() => DamageContext.InsuranceCarrier)" />
            <div style="display:flex;column-gap:2px;">
                <SfTextBox Width="auto" @bind-Value="DamageContext.PolicyNumber" CssClass="e-small" Placeholder="Policy #" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="@(() => DamageContext.PolicyNumber)" />
                <SfTextBox Width="auto" @bind-Value="DamageContext.ClaimNumber" CssClass="e-small" Placeholder="Claim #" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="@(() => DamageContext.ClaimNumber)" />
            </div>
            <SfDatePicker CssClass="e-small" Width="auto" TValue="DateTimeOffset" @bind-Value="@DamageContext.DateOfLoss" Format="@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern"
                          FloatLabelType="FloatLabelType.Auto" Placeholder="Loss Date" EnableMask=true>
                <DatePickerMaskPlaceholder Day="dd" Month="mm" Year="yyyy"></DatePickerMaskPlaceholder>
            </SfDatePicker>
            <ValidationMessage For="@(() => DamageContext.DateOfLoss)" />
        </CardContent>
    </SfCard>
    <SfCard role="article" CssClass="@(DamageContext.IsProcessed ? "zoom-in" : "is-hidden")">
        <CardContent>
            <SfTextBox Width="100%" @bind-Value="DamageContext.FullName" CssClass="e-small" Placeholder="Full Name" FloatLabelType="FloatLabelType.Always"
                       HtmlAttributes="@(new Dictionary<string, object>{{ "aria-label", "Full name" },{ "autocomplete", "name" }})" />
            <ValidationMessage For="@(() => DamageContext.FullName)" />
            <SfTextBox Width="auto" @bind-Value="DamageContext.Phone" CssClass="e-small" Placeholder="Phone #" FloatLabelType="FloatLabelType.Always"
                       HtmlAttributes="@(new Dictionary<string, object>{{ "aria-label", "Phone number" },{ "autocomplete", "tel" }, { "inputmode", "tel" }})" />
            <ValidationMessage For="@(() => DamageContext.Phone)" />
            <SfTextBox Width="auto" @bind-Value="DamageContext.Email" CssClass="e-small" Placeholder="Email address" FloatLabelType="FloatLabelType.Always"
                       HtmlAttributes="@(new Dictionary<string, object>{{ "aria-label", "Email address" },{ "autocomplete", "email" },{ "inputmode", "email" }})" />
            <ValidationMessage For="@(() => DamageContext.Email)" />
        </CardContent>
    </SfCard>
</div>
<style>
    #damage-info .is-hidden {
        display: none;
    }

    #damage-info .e-card {
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    }

    #damage-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
</style>

@code {
    [Parameter] public DamageEntry DamageContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnParametersSetAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
    }

    private List<string> States = new()
    {
    "AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA",
    "HI","ID","IL","IN","IA","KS","KY","LA","ME","MD",
    "MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ",
    "NM","NY","NC","ND","OH","OK","OR","PA","RI","SC",
    "SD","TN","TX","UT","VT","VA","WA","WV","WI","WY"
    };
}
